
  @import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Lisu+Bosa&display=swap');

.mainContainer{
    width:500px;
    height:100%;
    margin-left:auto;
    margin-right:auto;
    font-family: 'Lisu Bosa', serif;
}

.headding{
    text-align:center;
    font-family: 'Fredericka the Great', cursive;
}

.balancedisplaycontainer p{
    font-size:30px;
    margin:0;
}

.balancedisplaycontainer h4{
    margin:0;
}
.balancedisplaycontainer{
    margin-bottom:16px;
}

.balancesummarycontainer{
    display:flex;
    justify-content:space-around;
    margin:16px 0;
    margin-bottom:16px;
    margin-left:auto;
    margin-right:auto;
    background-color:#FAF8FF;
    border-radius:5px solid;
}
.balancesummaryincome, .balancesummaryexpense{
    text-align:center;
    margin-top:16px;
    margin-bottom:16px;
}
.balancesummaryincome p{
    margin:0;
    color:#008000;
    font-size:30px;
}
.balancesummaryincome h4, .balancesummaryexpense h4{
    margin:0;
}
.balancesummaryexpense p{
    margin:0;
    color:#FF0000;
    font-size:30px;
}
.vl{
    border-left:2px solid #E3E0F3;
    height:40px;
    margin-top:16px;
    margin-bottom:16px;
}

.transactiondetailscontainer{
    display:flex;
    margin-bottom:2px;
}
.transactioninfo{
    display:flex;
    width:490px;
    height:40px;
    background-color:#FAF8FF;
    border-radius:5px solid;    
    justify-content:space-between;
}
.p1{
    margin:4px 4px;
    font-size:20px;
    max-width:300px;
}
.p2{
    margin:6px 4px;
    font-size:20px;
    max-width:100px;
}
.transactioninfocolorgreen{
    border:6px solid;
    border-color:#008000;
}
.transactioninfocolorred{
    border:6px solid;
    border-color:#FF0000;
}

.historycontainer{
    height:200px;
    max-height:250px;
    overflow-y:scroll;
}

.historycontainer::-webkit-scrollbar{
    display:none;
}
.historytag, .newtransactiontag{
    border-bottom:1px solid #C2C0C6;
    padding-bottom:10px;
}
.newtransactiontag{
    margin-top:16px;
    margin-bottom:6px;
}
.newtransactioncontainer h4,h5{
    margin:4px 0;
}
.transactionName, .transactionAmount{
    width:500px;
    height:25px;
    margin-left:auto;
    margin-right:auto;
    background-color:#FAF8FF;
    border:0.5px;
    padding-left:4px;
}
.newtransactioncontainer button{
    width:502px;
    height:25px;
    margin:10px auto;
    padding:0;
    border:0;
    background-color:#7D9EA8;
    color:white;
    font-weight:600;
}
.deletebutton{
    margin:auto;
    margin-right:2px;
    color:#FF5159;
    opacity:0;
    
}
.transactiondetailscontainer:hover  .deletebutton{
    opacity:1;
    animation: shaking 0.5s infinite;
}
@keyframes shaking {
    0% {transform: rotate(5deg);}
    20% {transform: rotate(-9deg);}
    50% {transform: rotate(5deg);}
    70% {transform: rotate(9deg);}
    100% {transform: rotate(5deg);}
 }
 .deletebuttongreen{
    color:#008000;
 }